html, body{
    margin: 0;
    padding-top: 0;
    overflow-x: hidden;
}
body
{
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #141e30, #243b55);
    background-repeat:no-repeat ;
    color: #fbefcc;
    text-align: center;
}
a
{
    color: #fbefcc;
}
a:hover
{
    color: #e0876a;
}
a:active
{
    color: #fbefcc;
}
.link_project
{
    padding-top: 5%;
}
.link_project img
{
    width: 70%;
    height: auto;
}

/*blue archive card */
.card-group
{
    position: absolute;
    transition: transform 400ms ease;
}
.card-group[data-status="unknown"]
{
    transform: scale(0);
}
.card-group[data-status="active"] 
{
    transition-delay: 300ms;
}
.card-group[data-status="after"]
{
    transform: translateX(50%) scale(0);
}
.card-group[data-status="before"] 
{
    transform: translateX(-50%) scale(0);
}
.card-group[data-status="becoming-active-from-after"] 
{
    transform: translateX(50%) scale(0);
    transition: none;
}
  
.card-group[data-status="becoming-active-from-before"] 
{
    transform: translateX(-50%) scale(0);
    transition: none;
}
.card-groups,
.card-group,
.card
{
    aspect-ratio: 5 / 7;
}
.card-groups,
.card-group,
.big-card
{
    width: 30vmin;
    margin-left: auto;
    margin-right: auto;
}
.card-groups
{
    padding-top: 6vmin;
}
.card
{
    background-color: rgba(255, 255, 255, 0.05);
    position: absolute;
    transition: transform 800ms cubic-bezier(.05, .43, .25, .95);
}
.big-card
{
    border-radius: 1vmin;
}
.little-card
{
    width: 12vmin;
    border-radius: 2vmin;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
}
/*yuuka*/
.card-group[data-index="0"] > .little-card:nth-child(1)
{
    background-image: url(Yuuka\ card/Sport\ Yuuka4.png);
    background-size: cover;
}
.card-group[data-index="0"] > .big-card:nth-child(2)
{
    transform: translateX(-10%) rotate(-1deg);
    background-image: url(Yuuka\ card/Normal\ Yuuka2.png);
    background-size: cover;
}
.card-group[data-index="0"] > .little-card:nth-child(3)
{
    background-image: url(Yuuka\ card/Sport\ Yuuka3.png);
    background-size: cover;
}
.card-group[data-index="0"] > .big-card:nth-child(4)
{
    transform: rotate(2deg);
    background-image: url(Yuuka\ card/Normal\ Yuuka1.png);
    background-size: cover;
}
.card-group[data-index="0"] > .little-card:nth-child(5)
{
    background-image: url(Yuuka\ card/Normal\ Yuuka4.png);
    background-size: cover;
}
.card-group[data-index="0"] > .big-card:nth-child(6)
{
    transform: translateX(-6%) rotate(-3deg);
    background-image: url(Yuuka\ card/Sport\ Yuuka2.png);
    background-size: cover;
}
.card-group[data-index="0"] > .little-card:nth-child(7)
{
    background-image: url(Yuuka\ card/Normal\ Yuuka3.png);
    background-size: cover;
}
.card-group[data-index="0"] > .big-card:nth-child(8)
{
    transform: translate(10%, 3%) rotate(5deg);
    background-image: url(Yuuka\ card/Sport\ Yuuka1.png);
    background-size: cover;
}

/*hoshino*/
.card-group[data-index="1"] > .little-card:nth-child(1)
{
    background-image: url(Hoshino\ card/HoshinoS3.png);
    background-size: cover;
}
.card-group[data-index="1"] > .big-card:nth-child(2)
{
    transform: translateX(-10%) rotate(-1deg);
    background-image: url(Hoshino\ card/Hoshino4.png);
    background-size: cover;
}
.card-group[data-index="1"] > .little-card:nth-child(3)
{
    background-image: url(Hoshino\ card/HoshinoS2.png);
    background-size: cover;
}
.card-group[data-index="1"] > .big-card:nth-child(4)
{
    transform: rotate(2deg);
    background-image: url(Hoshino\ card/Hoshino1.png);
    background-size: cover;
}
.card-group[data-index="1"] > .little-card:nth-child(5)
{
    background-image: url(Hoshino\ card/Hoshino2.png);
    background-size: cover;
}
.card-group[data-index="1"] > .big-card:nth-child(6)
{
    transform: translateX(-6%) rotate(-3deg);
    background-image: url(Hoshino\ card/HoshinoS4.png);
    background-size: cover;
}
.card-group[data-index="1"] > .little-card:nth-child(7)
{
    background-image: url(Hoshino\ card/Hoshino3.png);
    background-size: cover;
}
.card-group[data-index="1"] > .big-card:nth-child(8)
{
    transform: translate(10%, 3%) rotate(5deg);
    background-image: url(Hoshino\ card/HoshinoS1.png);
    background-size: cover;
}

/*shun*/
.card-group[data-index="2"] >.little-card:nth-child(1)
{
    background-image: url(Shun\ card/Lshun4.png);
    background-size: cover;
}
.card-group[data-index="2"] >.big-card:nth-child(2)
{
    transform: translateX(-10%) rotate(-1deg);
    background-image: url(Shun\ card/Shun3.png);
    background-size: cover;
}
.card-group[data-index="2"] >.little-card:nth-child(3)
{
    background-image: url(Shun\ card/Lshun3.png);
    background-size: cover;
}
.card-group[data-index="2"] >.big-card:nth-child(4)
{
    transform: rotate(2deg);
    background-image: url(Shun\ card/Shun1.png);
    background-size: cover;
}
.card-group[data-index="2"] >.little-card:nth-child(5)
{
    background-image: url(Shun\ card/Shun4.png);
    background-size: cover;
}
.card-group[data-index="2"] >.big-card:nth-child(6)
{
    transform: translateX(-6%) rotate(-3deg);
    background-image: url(Shun\ card/Lshun2.png);
    background-size: cover;
}
.card-group[data-index="2"] >.little-card:nth-child(7)
{
    background-image: url(Shun\ card/Shun2.png);
    background-size: cover;
}
.card-group[data-index="2"] >.big-card:nth-child(8)
{
    transform: translate(10%, 3%) rotate(5deg);
    background-image: url(Shun\ card/Lshun1.png);
    background-size: cover;
}

/*azusa*/
.card-group[data-index="3"] >.little-card:nth-child(1)
{
    background-image: url(Azusa\ card/AzusaS2.png);
    background-size: cover;
}
.card-group[data-index="3"] >.big-card:nth-child(2)
{
    transform: translateX(-10%) rotate(-1deg);
    background-image: url(Azusa\ card/Azusa2.png);
    background-size: cover;
}
.card-group[data-index="3"] >.little-card:nth-child(3)
{
    background-image: url(Azusa\ card/AzusaS4.png);
    background-size: cover;
}
.card-group[data-index="3"] >.big-card:nth-child(4)
{
    transform: rotate(2deg);
    background-image: url(Azusa\ card/Azusa1.png);
    background-size: cover;
}
.card-group[data-index="3"] >.little-card:nth-child(5)
{
    background-image: url(Azusa\ card/Azusa3.png);
    background-size: cover;
}
.card-group[data-index="3"] >.big-card:nth-child(6)
{
    transform: translateX(-6%) rotate(-3deg);
    background-image: url(Azusa\ card/AzusaS3.png);
    background-size: cover;
}
.card-group[data-index="3"] >.little-card:nth-child(7)
{
    background-image: url(Azusa\ card/Azusa4.png);
    background-size: cover;
}
.card-group[data-index="3"] >.big-card:nth-child(8)
{
    transform: translate(10%, 3%) rotate(5deg);
    background-image: url(Azusa\ card/AzusaS1.png);
    background-size: cover;
}
.card-group:hover > .big-card:nth-child(2)
{
    transform: translate(-75%,16%) rotate(-24deg);
}
.card-group:hover > .big-card:nth-child(4)
{
    transform: translate(-25%,8%) rotate(-8deg);
}
.card-group:hover > .big-card:nth-child(6)
{
    transform: translate(25%,8%) rotate(8deg);
}
.card-group:hover > .big-card:nth-child(8)
{
    transform: translate(75%,16%) rotate(24deg);
}
.card-group:hover > .little-card:nth-child(1)
{
    transform: translate(200%,-160%) rotate(-15deg);
}
.card-group:hover > .little-card:nth-child(3)
{
    transform: translate(160%,170%) rotate(15deg);
}
.card-group:hover > .little-card:nth-child(5)
{
    transform: translate(-200%,-170%) rotate(15deg);
}
.card-group:hover > .little-card:nth-child(7)
{
    transform: translate(-280%,140%) rotate(-15deg);
}
.card-swiper-buttons
{
    margin-top: 8vmin;
    display: flex;
    justify-content: center;
}
.card-swiper-buttons > button
{
    font-size: 7vmin;
    border: transparent;
    color:white;
    background-color: transparent;
    cursor: pointer;
}

/*Image track*/
#image-track > .image
{
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;

}
#image-track
{
    display: flex;
    gap: 2vmin;
    user-select: none;
    transform: translate(0%, 0%);
    padding-left: 20%;
    
}
/*Playing with trans*/
.icon
{
    width: 50vmin;
    aspect-ratio: 1 / 1;
    background-color: rgb(255,255,255);
    border-radius: 2vmin;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -11%);
    transition: transform 800ms cubic-bezier(.05, .43, .25, .95);
    transition: width 500ms cubic-bezier(.05, .43, .25, .95);
    color:black;
    font-size: 6.5vmin;
}
/*letters*/
.icon_group:hover > .icon:nth-child(1)
{
    transform: translate(-350%, -50%);
    width:12vmin;
    font-size: 2.3vmin;
}
.icon_group:hover > .icon:nth-child(2)
{
    transform: translate(-250%, -50%);
    width:12vmin;
    font-size: 2.3vmin;
}
.icon_group:hover > .icon:nth-child(3)
{
    transform: translate(-150%, -50%);
    width:12vmin;
    font-size: 2.3vmin;
}
.icon_group:hover > .icon:nth-child(4)
{
    transform: translate(-50%, -50%);
    width:12vmin;
    font-size: 2.3vmin;
}
.icon_group:hover > .icon:nth-child(5)
{
    transform: translate(150%, -50%);
    width:12vmin;
    font-size: 2.3vmin;
}
.icon_group:hover > .icon:nth-child(6)
{
    transform: translate(250%, -50%);
    width:12vmin;
    font-size: 2.3vmin;
}
.icon_group:hover > .icon:nth-child(7)
{
    transform: translate(-100%, 50%);
    width:12vmin;
    font-size: 2.3vmin;
}
.icon_group:hover > .icon:nth-child(8)
{
    transform: translate(0%, 50%);
    width:12vmin;
    font-size: 2.3vmin;
}
.icon_group:hover > .icon:nth-child(9)
{
    transform: translate(100%, 50%);
    width:12vmin;
    font-size: 2.3vmin;
}
.icon_group:hover > .icon:nth-child(10)
{
    transform: translate(200%, 50%);
    width:12vmin;
    font-size: 2.3vmin;
}
.icon_group:hover > .icon:nth-child(11)
{
    transform: translate(-50%, 150%);
    width:12vmin;
    font-size: 2.3vmin;
}
.icon_group:hover > .icon:nth-child(12)
{
    transform: translate(-300%, 250%);
    width:12vmin;
    font-size: 2.3vmin;
}
.icon_group:hover > .icon:nth-child(13)
{
    transform: translate(-200%, 250%);
    width:12vmin;
    font-size: 2.3vmin;
}
.icon_group:hover > .icon:nth-child(14)
{
    transform: translate(-100%, 250%);
    width:12vmin;
    font-size: 2.3vmin;
}
.icon_group:hover > .icon:nth-child(15)
{
    transform: translate(0%, 250%);
    width:12vmin;
    font-size: 2.3vmin;
}
.icon_group:hover > .icon:nth-child(16)
{
    transform: translate(150%, 250%);
    width:12vmin;
    font-size: 2.3vmin;
}
/*blank*/
.icon_group:hover > .icon:nth-child(17)
{
    background-color: rgba(0,0,0,0);
    color: rgba(0,0,0,0);
    transform: translate(-16%, -11%);
}
.icon_group:hover > .icon:nth-child(18)
{
    background-color: rgba(0,0,0,0);
    color: rgba(0,0,0,0);
    transform: translate(-84%, -11%);
}

.icon-class
{
    padding-top: 45vmin;
}

/*Name card*/
:root {
    --blue-rgb: 33 150 243;
    --primary-rgb: var(--blue-rgb);
    
    --blob-color-1: rgb(var(--blue-rgb));
    --blob-color-2: dodgerblue;
}
  
* {
box-sizing: border-box;
}
.screen {
left: 50%;
transform: translate(-50%, 0%);
width: 70%;
display: flex;
border: 3px solid rgb(var(--primary-rgb) / 80%);
aspect-ratio: 24 / 9;
border-radius: 1rem;
background-color: rgb(var(--primary-rgb) / 15%);
overflow: hidden;
position: relative;
z-index: 0;
}

.screen:after,
.screen:before {
content: "";
height: 5px;
position: absolute;
z-index: 4;
left: 50%;
translate: -50% 0%;
background-color: white;
}

.screen:before {
width: 15%;
top: 0rem;
border-bottom-left-radius: 1rem;
border-bottom-right-radius: 1rem;
}

.screen:after {
width: 25%;
bottom: 0rem;
border-top-left-radius: 1rem;
border-top-right-radius: 1rem;
}

@keyframes pan-overlay {
from {
    background-position: 0% 0%;
}

to {
    background-position: 0% -100%;
}
}

.screen-overlay {    
background: linear-gradient(
    rgb(var(--primary-rgb) / 0.15),
    rgb(var(--primary-rgb) / 0.15) 3px,
    transparent 3px,
    transparent 9px
);
background-size: 100% 9px;
height: 100%;
width: 100%;
animation: pan-overlay 22s infinite linear;
position: absolute;
z-index: 2;
left: 0px;
top: 0px;
}

@keyframes pan-image {  
0% { /* Face */
    background-position: 50% 50%;
    background-size: 100%;
}

20% {
    background-position: 50% 30%;
    background-size: 100%;
}

20.0001% { /* -- View 2 -- */
    background-position: 50% 90%;
    background-size: 500%;
    }
    
40% {
background-position: 39% 86%;
background-size: 500%;
}

40.0001% { /* -- View 3 -- */
    background-position: 80% 32%;
    background-size: 300%;
}

60% {
    background-position: 84% 23%;
    background-size: 300%;
}

60.0001% { /* -- View 4 -- */
    background-position: 0% 0%;
    background-size: 300%;
}

80% {
    background-position: 15% 6%;
    background-size: 300%;
}

80.0001% { /* -- View 5 -- */
    background-position: 80% 10%;
    background-size: 300%;
}

100% {
    background-position: 72% 14%;
    background-size: 300%;
}
}

.screen > .screen-image {
background-image: url("BG/cafe.png");
height: 100%;
width: 100%;
position: absolute;
z-index: 1;
left: 0px;
top: 0px;
background-size: 100%;
background-position: 0% 0%;

opacity: 0.6;
animation: pan-image 15s linear infinite;
}

.screen > .screen-content {
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-end;
flex-grow: 1;
gap: 4rem;
position: relative;
z-index: 3;
margin: 1rem;
padding-bottom: 5%;
border: 1px solid rgb(var(--primary-rgb) / 50%);
border-radius: 0.6rem;
}

.screen > .screen-content > .screen-user{
display: flex;
flex-direction: column;
align-items: center;
position: relative;
}

.screen > .screen-content > .screen-user:before,
.screen > .screen-content > .screen-user:after {
content: "";
position: absolute;
top: 0px;
background-color: rgb(var(--primary-rgb));
border-radius: 1rem;
box-shadow: 0px 0px 8px 3px rgb(var(--primary-rgb) / 60%);
}

.screen > .screen-content > .screen-user:before {
height: 2px;
width: 50px;
translate: -20px -1rem;
opacity: 0.75;
}

.screen > .screen-content > .screen-user:after {
height: 3px;
width: 30px;
translate: 26px calc(-1rem - 0.5px);
}

.screen > .screen-content > .screen-user > :is(.name, .link) {
font-family: "Source Code Pro", monospace;
color: white; 
text-align: center;
text-transform: uppercase; 
}

.screen > .screen-content > .screen-user > .name {
position: relative;
font-size: 7vmin;
}

.screen > .screen-content > .screen-user > .name:before,
.screen > .screen-content > .screen-user > .name:after {
content: "";
height: 4px;
width: 4px;
position: absolute;
border: 2px solid white;
border-radius: 2px;
}

.screen > .screen-content > .screen-user > .name:before {
top: 55%;
right: -1.5rem;
}

.screen > .screen-content > .screen-user > .name:after {
top: 45%;
left: -1.5rem;  
}

/* -- Blob effect -- */

@keyframes rotate {
from {
    rotate: 0deg;
}

50% {
    scale: 1 1.5;
}

to {
    rotate: 360deg;
}
}
.last
{
    padding-top: 10%;
}

/*spinning loading*/
.spin,
.Spinning_loader,
.Spinning_loader2,
.Spinning_loader3,
.Spinning_loader4
{
    margin-left: auto;
    margin-right: auto;
}
.Spinning_loader{
    border: 1.7vmin solid #DAE2F8; 
    border-top: 1.7vmin solid #D6A4A4; 
    border-radius: 50%;
    width: 12.75vmin;
    height: 12.75vmin;
    animation: spin 2s linear infinite;
    position: absolute;
    left: 20%;
    text-align: center;
    font-size: 1.5vmin;
}

.Spinning_loader2{
    border: 1.7vmin solid #ED4264; 
    border-top: 1.7vmin solid #FFEDBC; 
    border-radius: 50%;
    width: 12.75vmin;
    height: 12.75vmin;
    animation: spin 1s linear infinite;
    position: absolute;
    left: 37.5%;
    text-align: center;
    font-size: 1.5vmin;
}
.Spinning_loader3{
    border: 1.7vmin solid #283048; 
    border-top: 1.7vmin solid #859398; 
    border-radius: 50%;
    width: 12.75vmin;
    height: 12.75vmin;
    animation: spin 0.5s linear infinite;
    position: absolute;
    left: 55%;
    text-align: center;
    font-size: 1.5vmin;
}
.Spinning_loader4{
    border: 1.7vmin solid #3D7EAA; 
    border-top: 1.7vmin solid #FFE47A; 
    border-radius: 50%;
    width: 12.75vmin;
    height: 12.75vmin;
    animation: spin 0.2s linear infinite;
    position: absolute;
    left: 72.5%;
    text-align: center;
    font-size: 1.5vmin;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.spin-class{
    padding-top: 16vmin;
}